= turbo_stream.update "calendar" do
  = render "groups/calendar", group: @group, calendar_data: @calendar_data, current_user: current_user

= turbo_stream.replace "availabilities" do
  = render "groups/availabilities_list", group: @group, user_availability: @user_availability, current_month: @current_month
